#nuevasExperiencias, #nuevosPaquetes, #comunicados{
	margin-top: 50px;
	box-shadow: 0px 0px  10px #25cad3;
	padding: 1%; 
}
h1{
	margin: 0;
	padding: 0;
}
#nuevasExperiencias img, #nuevosPaquetes img, #comunicados img{
	height: auto; 
	width: 250px;
}
#principal{
	background-image: url(../assets/img/fotos-stock/screencapture.png);
	height: 1600px;
	background-repeat: no-repeat;	
	margin-top: 50px; 
}
.carousel{
	margin-top:70px !important;
	height:160px !important;
}

#extra1, #extra2, #extra3{
	border: none;
}

#incluye, #dura, #saber{
	display: none;
}

#precio_detalle{
	font-size: 40px;
	color: $naranja;
	margin: 0;
	padding: 0;
}


